*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    padding: 1rem;
    box-shadow: 0px -1px 27px -6px rgba(106, 106, 106, 1);
}

.container {
    margin: 0 auto;
    width: 90%;
}

.flex-start {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
}

.logo {
    color: #354F52;
    text-decoration: none;
}

.logo::after {
    color: #575757;
    content: "kokpit";
    display: block;
    font-size: 1rem;
    margin-top: -11px;
    text-align: end;
    text-transform: uppercase;
}

.user-container {
    align-items: center;
    display: flex;
    gap: .5rem;
}

.user-avatar {
    max-width: 100%;
    width: 1.5rem;
}

.main {
    background: rgb(53,79,82);
    background: linear-gradient(45deg, rgba(53,79,82,0.4962359943977591) 0%, rgba(53,79,82,0.18531162464985995) 100%);
    padding: 2em 0;
}

.cctv-name-container {
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    gap: .3em;
    margin-bottom: 1em;
    padding: .5em;
}

.cctv-image-container iframe {
    border-radius: 15px;
    width: 100%;
}