*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo-container {
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
}

.logo {
    color: #354F52;
    text-decoration: none;
}

.logo::after {
    color: #575757;
    content: "kokpit";
    display: block;
    font-size: 1rem;
    margin-top: -11px;
    text-align: end;
    text-transform: uppercase;
}

.user-container {
    align-items: center;
    display: flex;
    gap: .5rem;
}

.user-avatar {
    max-width: 100%;
    width: 1.5rem;
}